@font-face {
    font-family: 'TT Lakes';
    src: url("/fonts/TTLakes-Regular.woff") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'TT Lakes';
    src: url("/fonts/TTLakes-Medium.woff") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'TT Lakes';
    src: url("/fonts/TTLakes-Bold.woff") format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
